{% extends "base.html" %}

{% block title %}Список жокеев - Скачки{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">Список жокеев</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Возраст</th>
                    <th>Рейтинг</th>
                    <th>Адрес</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for jockey in jockeys %}
                <tr>
                    <td>{{ jockey.name }}</td>
                    <td>{{ jockey.age }}</td>
                    <td>{{ jockey.rating }}</td>
                    <td>{{ jockey.address }}</td>
                    <td>
                        <a href="{{ url_for('jockey_competitions', jockey_id=jockey.id) }}" class="btn">
                            Посмотреть состязания
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}